site/aferidorDesktop/common_assets/includes/includes_class_miudadoPasta/
IMG_etapasAfericao.pptx
Modulo/Outros (Sem importância)
Modulo/INSTALL/InnoSetup/outrasVersoes
Modulo/INSTALL/AdvancedInstaller