@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif !important;
}
  
.input-icon {
    position: relative;
}

.icon-password {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px; /* Ajuste conforme necessário para a posição desejada */
    pointer-events: none; /* Garante que o ícone não afete a interação do usuário com o input */
}

.icon-password i {
    font-size: 1.1em;
    z-index: 5 !important;

}